<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>

<body>
    <head>
        <title>HTML Elements Reference</title>
      </head>
<form name="PassData" action="." method="post">
    <table>
        <tr>
            <td>age:</td>
            <td>
                <input type="text" name="age">
            </td>
        </tr>
        <tr>
            <td>Diabetes</td>
            <td>
                <input type="radio" id="No" name="Diabetes" value="No">
                <label for="No">No</label><br>
                <input type="radio" id="Pre" name="Diabetes" value="Pre">
                <label for="Pre">Pre</label><br>
                <input type="radio" id="Yes" name="Diabetes" value="Yes">
                <label for="Yes">Yes</label>
            </td>
        </tr>
        <tr>
            <td>Triglyceride</td>
            <td>
                <input type="radio" id="Normal" name="Triglyceride" value="Normal">
                <label for="Normal">Normal</label><br>
                <input type="radio" id="High" name="Triglyceride" value="High">
                <label for="High">High</label><br>
            </td>
        </tr>
        <tr>
            <td>hemoglobin</td>
            <td>
                <input type="radio" id="Normal" name="hemoglobin" value="Normal">
                <label for="Normal">Normal</label><br>
                <input type="radio" id="Low" name="hemoglobin" value="Low">
                <label for="Normal">Low</label><br>
                <input type="radio" id="High" name="hemoglobin" value="High">
                <label for="High">High</label>
            </td>
        </tr>
        <tr>
            <td>Kidney</td>
            <td>
                <input type="radio" id="Normal" name="Kidney" value="Normal">
                <label for="Normal">Normal</label><br>
                <input type="radio" id="Disease" name="Kidney" value="Disease">
                <label for="Disease">Disease</label><br>
                <input type="radio" id="Failure" name="Kidney" value="Failure">
                <label for="Failure">Failure</label>
            </td>
        </tr>
        <tr>
            <td>Liver</td>
            <td>
                <input type="radio" id="Normal" name="Liver" value="Normal">
                <label for="Normal">Normal</label><br>
                <input type="radio" id="Disease" name="Liver" value="Disease">
                <label for="Disease">Disease</label><br>
                <input type="radio" id="Failure" name="Liver" value="Failure">
                <label for="Failure">Failure</label><br>
                <input type="radio" id="vitB6 def" name="Liver" value="vitB6 def">
                <label for="vitB6 def">vitB6 def</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="submit" name="">
            </td>
        </tr>
    </table>
</form>
</body>